<app-hijo
(EventoMensaje)="recibirMensaje($event)"
(EventoMensaje2)="recibirSegundo($event)"
(EventoMensaje3)="recibirTercer($event)"
(EventoMensaje4)="recibirCuarto($event)"
(EventoMensaje5)="recibirQuinto($event)"
>
</app-hijo>
<div>
  <h2>
    Output
  </h2>
  <h4>
    Mensaje del componente hijo: {{ mensajePadre }}
  </h4>
  <h4>
    2do Mensaje del componente hijo: {{ SecondMessage }}
  </h4>
  <h4>
    3er Mensaje del componente hijo: {{ thirdMessage }}
  </h4>
  <h4>
    4to Mensaje del componente hijo: {{ fourthMessage }}
  </h4>
  <h4>
    5to Mensaje del componente hijo: {{ fifthMessage }}
  </h4>
</div>